* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #3f3e3e;
    padding: 12px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    color: rgba(128, 128, 128, 0.9);
    font-size: 15px;
}

header i {
    font-size: 15px;
    color: #3f3e3e;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.login-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: black;
    transition: 0.2s ease;
}

.login-btn:hover {
    color: blue;
}

.contact-btn {
    padding: 11px 30px;
    background: #00101F;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s ease;
}

.contact-btn:hover {
    background-color: blue;
}

nav {
    border-bottom: 1px solid rgb(63, 62, 62);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

nav .logo img {
    height: 70px;
    cursor: pointer;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

.menu ul li {
    position: relative;
    padding: 10px 0;
    cursor: pointer;
}

.menu ul li:hover {
    color: #0eb02ccf;
}

.dropdown i {
    margin-left: 5px;
    font-size: 13px;
}

.menu .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    padding: 10px 0;
    list-style: none;
    border: 1px solid #ddd;
    width: 200px;
    z-index: 10;
    color: black;
}

.menu .dropdown-menu li {
    padding: 10px 15px;
    white-space: nowrap;
}

.menu .dropdown-menu li:hover {
    color: #0eb02ccf;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}

.search-box input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    outline: none;
    width: 180px;
    border-radius: 4px;
    font-size: 15px;
    transition: 0.3s ease;
}

.search-box input:focus {
    border-color: #0eb02ccf;
    width: 250px;
}

.search-box button {
    padding: 8px 12px;
    background-color: #00101F;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s ease;
}

.search-box button:hover {
    background-color: #0eb02ccf;
}


.results-box {
    width: 250px;
    background: white;
    border: 1px solid #ccc;
    position: absolute;
    top: 45px;
    right: 0;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 99;
    border-radius: 4px;
}

.result-item {
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.result-item:hover {
    background: #e6e6e6;
}

#home {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-content {
    position: absolute;
    bottom: 35%;
    left: 5%;
    color: #ffffff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    z-index: 10;
    padding-left: 50px;
}

.slide-content span {
    letter-spacing: 2px;
    opacity: 0.9;
    font-size: 60px;
}

.slide-content h1 {
    font-size: 30px;
    margin: 10px 0;
}

.slide-content p {
    font-size: 18px;
    opacity: 0.9;
    margin-bottom: 20px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.255);
    border: 1px solid rgba(255, 255, 255, 0.56);
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    transition: background 0.3s;
    z-index: 3;
}

.arrow:hover {
    background: rgba(255, 255, 255, 0.6);
}

.arrow-left {
    left: 30px;
}

.arrow-right {
    right: 30px;
}

.find-course {
    padding: 12px 24px;
    background-color: #0eb02ccf;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    letter-spacing: 1.5px;
    border-radius: 4px;
}

.find-course:hover {
    background-color: #000;
}

.info-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 50px;
    background-color: rgba(255, 122, 122, 0.189);
    text-align: center;
    padding: 60px 40px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.13);
    font-family: Arial, Helvetica, sans-serif;
}

.fa-graduation-cap,
.fa-building-columns,
.fa-book {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
}

.info-content p {
    font-size: 15px;
    margin-top: 10px;
}

.info-content a {
    font-weight: bolder;
    color: #6279a5;
    margin-top: 30px;
    text-decoration: wavy;

}

.info-content a:hover {
    color: #ce2525;
}

.info-content h1 {
    margin-top: 20px;
    text-shadow: 1px 2px 4px solid black;
}

.education,
.uni-life,
.edu-serv {
    margin-top: 20px;
}

.photo-layout {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
    gap: 40px;
    padding: 80px 50px;
    align-items: center;
}

.large-photo {
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-radius: 10px;
}

.right-stack {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.small-photo {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
}

.photo-content {
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.photo-content h1 {
    font-size: 45px;
    margin-bottom: 10px;
}

.photo-content .topic {
    font-size: 20px;
    margin-bottom: 10px;
    color: #6279a5;
    font-weight: bold;
}

.photo-content p {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 1.6;
}

.check-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 17px;
}

.check-item i {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #30303052;
    color: rgb(7, 110, 3);
    font-size: 15px;
}

.check-item i:hover {
    background-color: #09f735cf;
    color: rgb(0, 0, 0, );
}

.read-more {
    padding: 12px 24px;
    margin-top: 30px;
    background-color: #0eb02ccf;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    letter-spacing: 1.5px;
    border-radius: 4px;
    line-height: 5.6;
}

.read-more:hover {
    background-color: #000;
}

.stats-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: #f7f8fb;
    padding: 50px 40px;
    margin: 50px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    gap: 20px;
}

.stat-box {
    text-align: center;
    padding: 20px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.top i {
    font-size: 35px;
    color: #000;
}

.top h2 {
    font-size: 40px;
    color: #09f735cf;
    margin: 0;
}

.stat-box p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.4;
    color: #333;
}

#contact-section {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 30px;
    background-color: #6279a561;
    font-family: Arial, Helvetica, sans-serif;
}

#contact-section img {
    width: 50px;
}



#contact-section .content {
    font-weight: lighter;
    font-size: 15px;
}

.contact2 li,
.contact3 li {
    list-style: none;
}

.contact1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact1 i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(39, 174, 9, 0.525);
    color: white;
    font-size: 15px;

}

.contact1 i:hover {
    color: rgba(39, 174, 9, 0.997);
    background-color: rgb(0, 0, 0);
}

.contact1 h1 {
    text-shadow: 1px 1px 2px rgba(39, 174, 9, 0.277);
}

.contact2 {
    display: inline;
    justify-content: center;
    align-items: baseline;
    line-height: 25px;
}

.contact2 li:hover {
    color: rgba(39, 174, 9, 0.525);
}

.contact3 {
    display: inline;
    justify-content: center;
    align-items: baseline;
    line-height: 25px;
}

.contact3 li:hover {
    color: rgba(39, 174, 9, 0.525);
}

.contact4 .input-box {
    position: relative;
    width: 300px;
    max-width: 100%;
}


.input-box input {
    width: 100%;
    padding: 10px 60px 10px 12px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px;
    outline: invert;
    box-shadow: 4px 4px 4px rgba(0, 128, 0, 0.6);
}

.input-box button {
    background: rgba(39, 174, 9, 0.997);
    position: absolute;
    right: 0.05px;
    top: 52%;
    transform: translateY(-50%);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.input-box button:hover {
    background-color: green;
}











footer {
    text-align: center;
    font-size: 20px;
    color: #0eb02ca1;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: auto;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.395);
    padding: 10px;
}


@media (max-width: 1024px) {

    #contact-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        padding: 40px 20px;
        text-align: center;
    }

    #contact-section img {
        margin: 0 auto;
    }

    .contact4 .news-box {
        width: 100%;
    }

    .contact1 {
        flex-direction: column;
    }

}


@media (max-width: 480px) {
    .contact4 .input-box {
        width: 100%;
        max-width: 100%;
    }

    .input-box button {
        padding: 8px 16px;
    }
}

@media (max-width: 1024px) {
    .contact4 .input-box {
        width: 100%;
    }
}





@media (max-width: 768px) {
    .stats-row {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .stats-row {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 900px) {
    .photo-layout {
        grid-template-columns: 1fr;
    }

    .right-stack {
        flex-direction: row;
    }

    .small-photo {
        height: 180px;
    }

    .large-photo {
        height: 350px;
    }
}

@media (max-width: 550px) {

    .photo-layout {
        padding: 40px 20px;
    }

    .right-stack {
        flex-direction: column;
    }

    .small-photo,
    .large-photo {
        width: 100%;
        height: auto;
    }

    .photo-content {
        text-align: center;
    }
}

@media (max-width: 850px) {
    .search-box input {
        width: 120px;
    }

    .search-box input:focus {
        width: 160px;
    }

    .results-box {
        width: 160px;
    }

    .arrow {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }

    .slide-content {
        max-width: 80%;
    }

    .slide-content span {
        font-size: 40px;
    }

    .info-content {
        flex-direction: column;
        height: auto;
    }
}
